.create_form_container {
    height: calc(100vh - 4rem);
    overflow: auto;
}

.create_project_box {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.create_button {
    margin: 1rem auto 5rem auto;
    padding: 1rem;
}

.label {
    margin-top: 1rem;
}

.skillbadge_col {
    display: flex;
    justify-content: center;
}

.skillbadge_col span {
    max-height: 1.5rem;
}

.input_field {
    border-color: white;
    background: #1a1a32;
    color: white;
    margin-bottom: 20px;
}

.input_field:focus {
    background: #1a1a32;
    color: white;
}

.create_project_dropdown {
    background: #0c083a;
}

.create_project_dropdown_item {
    background: #0c083a;
    color: white;
}

.error_message {
    color: orangered;
}
