.edition_new_button {
    margin-right: 0;
    margin-left: auto;
    max-height: 2.6rem;
}

.edition_header {
    display: flex;
}

.edition_create_row {
    margin-top: 2rem;
}

.edition_create_field {
    background: #0c083a;
    color: white;
}

.edition_create_field:focus {
    background: #0c083a;
    box-shadow: 0 0 0 0.15rem rgb(255 255 255);
    color: white;
}
