.students {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.placeholder {
    background-color: #0a0839;
    color: white;
}

.placeholder1 {
    background-color: #0a0839;
    color: white;
    border-top: 1px solid white;
}

.max_h {
    max-height: 100%;
}

@media (max-width: 1024px) {
    .filter_grid {
        min-height: calc(100vh - 4rem);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .info_grid {
        min-height: calc(100vh - 4rem);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        min-width: 15em;
    }

    .info_field {
        flex-grow: 1;
        min-height: 100%;
    }

    .height_setter {
        overflow: visible;
    }

    .filter {
        max-height: none;
        height: 22%;
        min-height: 11em;
    }
}

@media (min-width: 1024px) {
    .filter_grid {
        min-height: calc(100vh - 4rem);
        max-height: calc(100vh - 4rem);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .info_grid {
        height: calc(100vh - 4rem);
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        min-width: 15em;
        width: 20%;
        max-width: 20em;
    }

    .info_field {
        flex-grow: 1;
    }

    .height_setter {
        overflow: hidden;
    }

    .filter {
        height: 22%;
        max-height: 15em;
        min-height: 11em;
    }
}

.conflicts_button {
    display: block;
    color: red;
    border-color: red;
    margin-left: 1.5rem;
    width: 96%;
}

.conflicts_button:hover {
    background: red;
    color: white;
}
