.project_list {
    width: 300px;
    height: 1000px;
    background-color: #0a0839;
    overflow: auto;
}

.project_list_header {
    background-color: #0a0839;
    color: #ffffff;
    font-weight: bold;
    font-size: x-large;
}

.project_list_project {
    background-color: #0a0839;
    color: #ffffff;
}
