.student_list_title {
    background-color: #0a0839;
    color: #ffffff;
}

.student_list_element {
    background-color: #0a0839;
    color: #ffffff;
}

.student_list_element:hover {
    background-color: white;
    color: black;
}

.student_name {
    margin-bottom: 0;
}

.student_list_component {
    border-top: 1px solid white;
    height: 100%;
    width: 100%;
    background-color: #0a0839;
    display: flex;
    flex-direction: column;
}

.student_list {
    border-radius: 0;
    height: 100%;
}

.student_best_skill {
    padding-left: 1rem;
}

.line {
    height: 5px;
    margin-top: 0.5rem;
}

.student_list_footer {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0a0839;
    align-items: center;
}

.student_list_button_group {
    flex-wrap: wrap;
    margin: 0.2rem;
}

.student_info_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.student_info_header_title {
    flex-grow: 1;
}

.student_info_header_extra {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}