.student_list_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 0;

    background-color: transparent;
    color: #FFFFFF;
}

.student_list_element {
    background-color: #0a0839;
    color: #ffffff;
}

.student_list_component {
    position: absolute;
    width: 473px;
    height: 770px;
    left: 0;
    top: 310px;

    background: #0A0839;
    border-radius: 10px 10px 0 0;
    overflow: scroll;
}

.student_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-left: 20px;

    color: #FFFFFF;
}

.student_best_skill {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 25px;

    color: #FFFFFF;
}

.line {
    height: 5px;
}
