.student_list_title {
    background-color: #0a0839;
    color: #ffffff;
}

.student_list_element {
    background-color: #0a0839;
    color: #ffffff;
}

.student_list_element:hover {
    background-color: rgb(10, 8, 57, 70%);
}

.student_name {
    color: #ffffff;
    margin-bottom: 0;
}

.student_list_component {
    border-top: 1px solid white;
}

.student_list {
    border-radius: 0;
}

.student_best_skill {
    color: #ffffff;
    padding-left: 1rem;
}

.line {
    height: 5px;
    margin-top: 0.5rem;
}
