
spring.datasource.username = username
spring.datasource.password = password
spring.datasource.driverClassName = org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/osoc-test
server.servlet.contextPath=/api/

# Settings needed for mailing to work.
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your_mail_here
spring.mail.password=application_password_here
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# The base domain of the website, WITHOUT http prefix.
domain=domain.com

# The current active profile, use 'production' in production and 'development' in development.
spring.profiles.active=production

# Tally webhook secret token
webhook.token=your_secret_token_here

#drop n create table again, good for testing, comment this in production
#spring.jpa.hibernate.ddl-auto=create

# Debug query tools
#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true
